.speech{
    color:black;
    font-family: cursive;
    font-size: 17px;
}
.stage-direction{
    color:black;
    font-family: cursive;
    font-size: 17px;
    background-color: lightgreen;
}
.name{
    border-style: double;
    color:black;
    font-family:cursive;
    font-size: 17px;
}
.stage-direction:hover{
    background-color: rgb(248, 9, 136);
    color: rgb(98, 161, 35);
    ;} 
.DUKE{
    color:rgb(243, 13, 13);
}
.AEGEON{
    color:rgb(140, 12, 231);
}
.REMEO{
    color: rgba(16, 241, 16, 0.979);
}
.GAOLER{
    color:sienna;
}
table{
    border:solid 3px;
    border-collapse: separate;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 100px;
    padding: 7px;
}
th,td{
    border:solid 1px rebeccapurple;
    text-align: center;
}
tr:nth-child(even){
    background-color: chartreuse;
}
.name:hover{
    color:rgb(98, 161, 35);
    border:rgb(248, 121, 10);
}
.name {
    text-shadow: 2px 2px 5px red;
}
img{
    margin-left: 40px;
    border-radius: 15px;
    width: 

}
